h1 {
  font-size: 2em;
  line-height: 1.1;
  font-family: sans-serif;
  text-align: center;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 6em;
  will-change: filter;
}

svg:hover {
  filter: drop-shadow(0 0 2em #325cffaa);
}
